auto-install-peers=false
strict-peer-dependencies=false
confirmModulesPurge=false
ignore-scripts=false
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=unrs-resolver